@tailwind base;
@tailwind components;
@tailwind utilities;

/* GalanoGrotesque.otf/ */
@font-face {
    font-family: 'Galano Grotesque';
    src: url('/fonts/GalanoGrotesque-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* GalanoGrotesque-Medium.otf */
@font-face {
    font-family: 'Galano Grotesque-medium';
    src: url('/fonts/GalanoGrotesque-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@layer base{
    h1{
        @apply text-5xl leading-[3rem] sm:text-[4rem] sm:leading-[4rem] lg:text-[5rem] lg:leading-[5rem] font-galano-grotesque-medium;
    }
    h2{
        @apply text-2xl leading-6 sm:text-4xl sm:leading-9 lg:text-[3.125rem] lg:leading-[3.125rem]  font-galano-grotesque-medium;
    }
}


html{
    @apply font-galano-grotesque text-dark-grey font-normal;
}

.container{
    @apply max-w-[80rem] mx-auto;
}